.rodape{
 background: #C4C4C4;
 gap: 10px;
 align-items: center;
 justify-content: flex-end;
 padding: 1rem 5rem;
 display: flex;
 
}

.rodape__titulo{
    color: #ffffff;
    font-weight: 400;
    text-transform: lowercase;
}

.rodape__quadrado{
    background: #8D0606;
}

@media screen and (min-width:0) {
    .rodape{
        padding: 1rem 2rem;
     }
     .rodape__titulo {
        font-size: .8rem;
     }
     .rodape__quadrado{
        height: 1.5rem;
        width: 1.5rem;
    }
}
@media screen and (min-width:768px) {
    .rodape{
       padding: 1rem 5rem;
    }
    .rodape__titulo {
        font-size: .8rem;
        font-size: 1.5rem;
     }
     .rodape__quadrado{
        height: 3.7rem;
        width: 3.7rem;
    }
}