.quem-somos{
    text-align: center;
    padding: 5rem;

}
.quem-somos__titulo{
     color: #8D0606;  
    font-size: 3.48rem;
    font-family: Pacifico, cursive;
    margin: 1rem 0;
    text-align: center;
}
.quem-somos__descricao{
    color: #8C8888;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    text-align: center;
}
.pessoas {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    /* gap: 100px; */

}
.pessoa{
 display: flex;
 flex-direction: column;

}
.pessoa__imagem {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}
.pessoa__nome{
    color: #8D0606;
    font-family: Pacifico, cursive;
    font-size: 2rem;
    margin: 1rem 0;

}
.pessoa__funcao{
    color: #595959;
    font-size: 1.25rem;
    text-transform: lowercase;
}

.pessoa__imagem--roberta{
    background-image: url('../../img/pessoas/roberta.jpg');
}

.pessoa__imagem--marcela{
    background-image: url('../../img/pessoas/marcela.jpg');

}

.pessoa__imagem--andreia{
    background-image: url('../../img/pessoas/andreia.jpg');

}